<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <title>Site Maintenance</title>
    <style>
        body { margin: 20px; }
        h1 { font-size: 2em; line-height: 1.1em; }
        body { font: 1em Helvetica, Arial, sans-serif; color: #333; line-height: 1.4em; }
        article { margin: 0 auto; }
    </style>
</head>

<body>
    <article>
        <h1>We’ll be back soon</h1>
        <div>
            <p>We’re performing some maintenance at the moment.</p>
            <p>The site should return soon.</p>
        </div>
    </article>
</body>
</html>
