[program:{{ item.name }}]
command = {{ pyenv_path }}/versions/{{ item.name }}/bin/gunicorn_start
user = {{ ubuntu_deploy_user }}
stdout_logfile = {{ pyenv_path }}/versions/{{ item.name }}/logs/gunicorn_supervisor.log
redirect_stderr = true
